---
layout: default 
---
<!-- Blog Post -->
<!-- Title -->
<h2>
  {{ page.title }}
  <!--
  <div class="post-date">
	<span class="glyphicon glyphicon-time"></span>
  </div>
  -->
</h2>
<!-- Author -->
<hr>
{{ content }}
<br/>
<div style="margin-top:10px;margin-bottom:10px">
  {%if page.previous%}
  <span class="next">
    上篇：
    <a href="{{page.previous.url}}">
      {{page.previous.title}}
    </a>
  </span>
  {%endif%} 
  {%if page.next%}
  <span class="prev">
    下篇：
    <a href="{{page.next.url}}">
      {{page.next.title}}
    </a>
  </span>
  {%endif%}
</div>
<hr>
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style_24x24">
  <a class="jiathis_button_qzone"></a>
  <a class="jiathis_button_tsina"></a>
  <a class="jiathis_button_tqq"></a>
  <a class="jiathis_button_weixin"></a>
  <a class="jiathis_button_renren"></a>
  <a href="http://www.jiathis.com/share?uid=1970434" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
  <a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript">
var jiathis_config = {data_track_clickback:'true'};
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1395741531605675" charset="utf-8"></script>
<!-- JiaThis Button END -->
<br/>
<!-- Blog Comments -->
  <!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1970434"></script>
<!-- UY END -->

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'malphi'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>